
body{
    background-image: url("imagens/ig.jpg");
    background-repeat: no-repeat;
    background-size: 1700px
}
.btn-link{
text-decoration: none;
text-align: center;
position: relative;top: 400px; left: 455px;
border: 10px solid rgb(235, 12, 12);
padding: 50px;
font-size:  50px;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(248, 189, 189);
color: black;

}
.text {
text-align: center;
position: relative;top: 50px;
background-color: bisque;
font-size: 50px;
}
#typing-effect {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing 3s steps(30) infinite, blink 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 105%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}